* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'poppins';
  src: url(fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'ptsans';
  src: url(fonts\PTSans-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'var';
  src: url(fonts\VarelaRound-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

.landing {
    background: #ffffff;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}

.contact {
    top: 85vh;
    border-left: 2px solid #000000;
    margin: 0px;
    padding: 0px;
    height: 50px;

}

.sticky-helper {
    font-size: 30px;
    text-align: left;

    position: sticky;
    top: 0;
}

.name {
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    margin-top: 000px;
    position: sticky;
    top: 0;
    margin-left: 20px;
}

.greeting {
    font-size: 70px;
    text-align: center;
    font-family: poppins;
    color: #ffffff;
    z-index: 1;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.panel {
    height: 90vh;
    width: 80vw;
    background-color: #1A171E;
    border-radius: 1px;
    text-align: center;
}

.order {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profession {
    font-family: var;
    color: #ffffff;
    font-size: 30px;
    padding-top: 60vh;
    padding-left: 120px;
    text-align: right;
    padding-right: 120px;
    padding-bottom: 10px;
}

.rule {
    width: 85%;
    border-top: 2px solid #ffffff;
    padding-top: 640px;
    margin-left: 120px;
}

.project1 {
    height: 70vh;
    padding-top: 40px;
    A30015
}

.image-container {
    display: block;
    width: auto;
    height: auto;
    margin-left: 50vw;
    padding-top: 60px;
    top: -680px;
}

.text-box {
    height: 80vh;
    width: 40vw;
    margin-left: 10vw;
    font-family: ptsans;
}

.title {
    font-size: 50px;
}

.paragraph {
    font-size: 24px;
}
